/* Navigation Content */
#navigation {
    width: auto;
    color: white;
    text-transform: uppercase;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 4%;
    padding-bottom: 3%;
}

#navigation a {
    color: white !important;
    font-family: prozolibre;
    font-weight: bold;
}

#navigation #leftLinks a:hover {
    color: white;
    background-color: #f1916d;
    text-decoration: none;
}

#navigation .nav {
    padding-top: 2%;
}

#navigation .nav > li {
    position: relative;
    display: block;
}


/*
#donateBtn .btn-default{
    border-color: #da4b14 !important;
    background-color: #da4b14 !important;
}


#donateBtn .btn:hover {
    background-color: #f1916d !important;
}
*/