body {
    background-color: #F7F5E9;
}

/*
.container {
    background-image: url("../images/TrailBackground.png");
    margin-top: 7%;
}

*/

#navigation {
    width: auto;
    color: white;
    text-transform: uppercase;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
}

#navigation a {
    color: white !important;
    font-family: prozolibre;
    font-weight: bold;
}
#navigation a:hover {
    color: white;
    background-color: #f1916d;
    text-decoration: none;
}

#pageContent {
    background-image: url("../images/TrailBackground.png");
}

