body {
    background-color: #F7F5E9;
}

#pageContent {
    background-image: url("../images/TrailBackground.png");
}

/* PHP Generated Content*/
.locationContainer {
    background-color: #F7F5E9;
    text-align: center;
    text-decoration: none;
}

.locationInfo {
    font-family: prozolibre;
}

.locationDescription {
    font-size: large;
}

.locationName {
    font-size: x-large;
    font-weight: bold;
}

.locationURL {
    font-size: large;
    text-decoration: none;
}

.locationDate {
}

