body {
	background-color: #f2f2f2;
}

#login, #signup {
	width: 350px;
	height: 490px;
	font-family: 'Proza Libre', sans-serif;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	background-color: #ffffff;
	box-shadow: 0 8px 26px 0 rgba(79, 79, 79, 0.01);	
}	

.logo {
  width: 184px;
  height: 76px;
  object-fit: contain;
  padding: 17px 82px 0px 84px;
}

#headline {
	width: 185px;
	height: 34px;
	font-size: 18px;
	font-weight: 500;
	color: #4f4f4f;
	padding: 0px 86px 0px 85px;
}

#divider {
	height: 1px;
	background-color: #e0e0e0;
}

form label:first-of-type {
	padding-top: 41px;
}

form label:nth-of-type(2) {
	padding-top: 30px;
}

form label {
    width: 65px;
	height: 20px;
	font-size: 14px;
	padding: 0px 0px 5px 64px;
}

form input {
	border: solid 1px rgba(107, 119, 73, 0.7);
}

#forgotPassword {
	width: 103px;
	height: 17px;
	font-size: 10px;
	padding: 0px 0px 27px 197px;
}

.button {
	background-color: #6b7749;
	border: none;
	cursor: pointer;
}

#buttonText {
	width: 175.4px;
	height: 19.8px;
	font-size: 12px;
	color: #ffffff;
	padding-top: 5px;
}

.errorMsg {
    color: #cc0000;
    margin-bottom: 10px
}

#login, #signup, #divider, form input, .button, #buttonText{
	margin: auto;
}

#login, #signup, form input, .button {
	border-radius: 4px;
}

#divider, form input, .button {
	width: 222px;
}

form input, .button {
	height: 33px;
}

form label, #forgotPassword, #buttonText {
	font-weight: normal;
}

form label, form input, .button {
	display: block;
}

form label, #forgotPassword {
	color: #757575;	
}