body {
	background: url(../../images/7ac627eb-2ed0-48cd-999b-aece3a896f39.png) no-repeat top center;
	background-size:cover;
}
#menu .container{
	margin-right: none;
    margin-left: none;
    padding-left: none;
    padding-right: none;
}