body {
	background: url(../../images/7ac627eb-2ed0-48cd-999b-aece3a896f39.png) no-repeat top center;
}
.donate{
	font-family: Proza Libre !important;
	background-color: #97583a !important;
	border-radius: 4px !important;
}
#explore{
	padding-top: 2% !important;
	margin-right: 0 !important;
}
#explore:hover{
  background-color: white !important;
  color: #97583a !important; 
}
.top_btn{
	padding:0;
}
h4{
	font-family: Proza Libre !important;
}
h5{
	font-family: Proza Libre !important;
}
p{
	font-family: Proza Libre !important;
}
#top_medalsection{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	
	height: 87%;
}
.topvid_text{
	margin-top:15% !important;
}
#footerContainer{
	position:absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding-bottom: 1%;
}
#footerRow{
	padding-left: 15px;
	padding-right: 15px;
}
.address{
	padding-left:0 !important;
	padding-right:0 !important;
}
.social{
	padding-left:0 !important;
	padding-right:0 !important;
}

@media only screen and (min-width: 1440px) {
    body {
		background-size:cover;
    }
}
@media only screen and (min-height: 1027px) {
    body {
		background-size:cover;
    }
}
@media only screen and (max-width: 700px) {
    .topvid_text{
		margin-top: 2% !important;
	}
	h1{
		font-size: 35px !important;
	}
	h5{
		font-size: 10px !important;
	}
}
