body {
    background: url(../../images/7ac627eb-2ed0-48cd-999b-aece3a896f39.png) no-repeat center center fixed;
}

.donate {
    font-family: Proza Libre !important;
    background-color: #97583a !important;
    border-radius: 4px !important;
}

#explore {
    margin-right: 0 !important;
}

#explore:hover {
    background-color: white !important;
    color: #97583a !important;
}

.top_btn {
    padding: 0;
}

h4 {
    font-family: Proza Libre !important;
}

h5 {
    font-family: Proza Libre !important;
}

p {
    font-family: Proza Libre !important;
}

#top_medalsection {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    height: 90.5%;
}

.topvid_text {
    margin-top: 15% !important;
}

#footerContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-bottom: 1%;
}

#footerRow {
    padding-left: 15px;
    padding-right: 15px;
}

.address {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#addressh5 {
    color: white !important;
    text-align: right !important;
    margin-top: 0 !important;
}

.social {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 35px;
}

@media only screen and (min-width: 1440px) {
    body {
        background-size: cover;
    }
}

@media only screen and (min-height: 1027px) {
    body {
        background-size: cover;
    }
}

@media (min-height: 460px) and (max-height: 560px) {
    #top_medalsection {
        height: 81%;
    }

    .topvid_text {
        margin-top: 7% !important;
    }

    h1 {
        font-size: 25px !important;
    }

    h5 {
        font-size: 10px !important;
    }

    p {
        font-size: 10px !important;
    }

    .social {
        font-size: 23px !important;
    }
}

@media (min-height: 560px) and (max-height: 630px) {
    #top_medalsection {
        height: 84%;
    }

    .topvid_text {
        margin-top: 9% !important;
    }

    h1 {
        font-size: 30px !important;
    }

    h5 {
        font-size: 12px !important;
    }

    p {
        font-size: 12px !important;
    }

    .social {
        font-size: 29px !important;
    }
}

@media (min-height: 630px) and (max-height: 700px) {
    #top_medalsection {
        height: 86%;
    }

    .topvid_text {
        margin-top: 9% !important;
    }

    h1 {
        font-size: 35px !important;
    }

    h5 {
        font-size: 14px !important;
    }

    p {
        font-size: 14px !important;
    }
}

@media (min-height: 700px) and (max-height: 800px) {
    #top_medalsection {
        height: 88%;
    }
}

@media (min-height: 800px) and (max-height: 900px) {
    #top_medalsection {
        height: 89%;
    }
}

/*
@media (max-width: 330px) and (max-height: 480px) {
    .topvid_text{
		margin-top: 7% !important;
	}
	h1{
		font-size: 25px !important;
	}
	h5{
		font-size: 10px !important;
	}
	p{
		font-size: 10px !important;
	}
	.social{
		font-size: 23px !important;
	}
}
*/