@charset "utf-8";

/* Bottom Modal Window Style */
#bottomMdl {
    text-align: center;
    margin: 3%;
    background-image: url("../images/TrailBackground.png");
}

#bottomMdlContent {

}

#graveInfo {

}

#naturalHistoryInfo {

}

#miscObjectInfo {

}

#map {
    height: 90%;
}
.popupModal{
	font-family: Proza Libre !important;
}
.modal-footer > .btn{
	background-color: #97583a !important;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.pinName {
    font-weight: bold;
}

.pinLink {

}

.btn.mapBtn{
    background-color: #97583a !important;
    color: white !important;
}
.mapBtn:hover {
    background-color: #6b7749 !important;
    color: white !important;
}

/* CSS Document */

/* Map Filter CSS */

.secondmenublock {
    z-index: 999;
    position: fixed;
    right: 0;
    left: 0;
    top: 12.9%;
    align-content: center;
}

.secondmenu li {
    float: left;
    padding: 0 10px;
    margin-bottom: 10px;
}

.filterButton {
    border-radius: 25px;
    padding: 10px;
    color: #f7f7f4;
    text-decoration: none;
}

.filterButton:hover, .filterButton:active, .filterButton:visited {
    color: #f7f7f4;
    border-radius: 25px;
    text-decoration: none;
    background-color: rgb(18, 176, 41);
    box-shadow: inset 0 0 0 99999px rgba(255, 255, 255, 0.2);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

@font-face {
    font-family: 'LaoUI-Regular';
    src: url('../fonts/LaoUI_gdi.eot');
    src: url('../fonts/LaoUI_gdid41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LaoUI_gdi.woff') format('woff'),
    url('../fonts/LaoUI_gdi.ttf') format('truetype'),
    url('../fonts/LaoUI_gdi.html#LaoUI-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-25CA;
}

@font-face {
    font-family: 'LaoUI-Bold';
    src: url('../fonts/LaoUI-Bold_gdi.eot');
    src: url('../fonts/LaoUI-Bold_gdid41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LaoUI-Bold_gdi.woff') format('woff'),
    url('../fonts/LaoUI-Bold_gdi.ttf') format('truetype'),
    url('../fonts/LaoUI-Bold_gdi.svg#LaoUI-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-25CA;
}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Bold_gdi.eot');
    src: url('../fonts/Raleway-Bold_gdid41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Bold_gdi.woff') format('woff'),
    url('../fonts/Raleway-Bold_gdi.ttf') format('truetype'),
    url('../fonts/Raleway-Bold_gdi.svg#Raleway-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
    url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body, html {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px
}

p {
    margin: 0px;
    padding: 0px
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none
}

ul li {
    margin: 0px;
    padding: 0px
}

a {
    text-decoration: none
}

button {
    outline: none
}

/******topmenu*******/

.list {
    padding: 9px 0px 9px 0px;
}

.list ul li {
    float: left;
    padding: 0px 10px 0px 0px;
    font-size: 14px;
}

.list ul li a {
    font-family: 'LaoUI-Regular';
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}

.list ul li a .fa {
    font-size: 16px;
    padding: 0px 6px 0px 8px;
    color: #FFFFFF
}

.list ul li a .fa-phone {
    position: relative;
    top: 1px;
}

.topicon {
    float: right
}

.topicon ul li {
    float: left;
    padding: 10px 5px 0px 0px;
}

.topicon ul li a {
    color: #FFF;
    font-family: 'LaoUI-Regular';
    text-decoration: none;
    font-size: 14px;
    border-right: 1px solid #297a72;
    padding: 0px 5px 2px;
}

.topicon ul li .noborder {
    border: none;
    font-size: 15px
}

.topicon ul li .selectpicker {
    border: none;
    outline: none;
    background: none;
    color: #FFF;
    font-family: 'LaoUI-Regular';
    font-size: 15px;
}

.topicon ul li .selectpicker option {
    color: #000
}

.nice-select {
    font-family: 'LaoUI-Regular';
    font-size: 14px;
}

.newwrap .wrap {
    position: relative;
    z-index: 9999;
    background: #33998e;
}

.container-fluid {
    padding: 0 3px;
}

/*.navbar-default {background:#ffffff;border:none;box-shadow:-2px -2px 12px #000; }*/
.navbar-collapse form[role="search"] button, .navbar-collapse form[role="search"] input {
    background: none;
}

.navbar-collapse form[role="search"] button, .navbar-collapse form[role="search"] input {
    padding: 9px 0px 9px 10px !important;
    margin-top: 10px !important;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-top: 3px;
}

.input-group-btn > .btn:hover, .input-group-btn > .btn:focus, .input-group-btn > .btn:active {
    outline: none;
}

.btns h1 {
    padding: 10px;
}

.nav-item h1 {
    padding: 9px 20px;
    font-size: 10px;
    font-family: 'LaoUI-Regular';
    background: #1fa582;
    border-radius: 5px 5px 5px 5px;
    color: white;
    border: 1px solid;
}

.nav-item a :hover {
    background: none;
    border: #1fa582 1px solid;
    color: #1fa582;
}

.navbar-collapse form[role="search"] {
    position: absolute;
    top: 0px;
    right: -12px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 0;
}

.navbar-collapse form[role="search"] button,
.navbar-collapse form[role="search"] input {
    padding: 8px 12px;
    border-radius: 0px;
    border-width: 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(248, 248, 248);
    border-color: rgb(231, 231, 231);
    box-shadow: none;
    outline: none;
}

.navbar-collapse form[role="search"] input {
    padding: 16px 12px;
    font-size: 14pt;
    font-style: italic;
    color: rgb(160, 160, 160);
    box-shadow: none;
    font-family: 'Century Gothic';
}

.navbar-collapse form[role="search"] button[type="reset"] {
    display: none;
}

.navbar-collapse form[role="search"] input {
    background: #ffffff
}

.top_naveform {
    position: relative;
}

.cros .glyphicon {
    top: 3px !important;
}

.form-control {
    border-radius: 25px
}

.btn-primary {
    color: #fff;
    background-color: #ff3358;
    border: none;

}

.btn-primary:hover {
    color: #ff3358;
    background-color: #fff;
    border: 1px solid #ff3358;

}

@media (min-width: 768px) {
    .navbar-collapse form[role="search"] {
        width: 28px;
    }

    .navbar-collapse form[role="search"] button,
    .navbar-collapse form[role="search"] input {
        padding: 15px 12px;
        font-family: 'LaoUI-Regular';
    }

    .navbar-collapse form[role="search"] input {
        font-size: 18pt;
        opacity: 0;
        display: none;
        height: 50px;
    }

    .navbar-collapse form[role="search"].active {
        width: 61%;
    }

    .navbar-collapse form[role="search"].active button, .navbar-collapse form[role="search"].active input {
        display: table-cell;
        opacity: 1;
        outline: none
    }

    .navbar-collapse form[role="search"].active input {
        width: 80%;
        font-family: 'LaoUI-Regular';
        float: right
    }
}

/*.navbar-nav>li> .cart{border-left:1px solid #e4e4e4; border-right:1px solid #e4e4e4}*/
.navbar-nav > li > .dropdown-menu {
    background: #33998e;
    margin-top: 15px;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a {
    color: white;
}

.dropdown-menu > li > a {
    padding: 10px 20px;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    border-bottom: 1px solid #FFF
}

.dropdown-menu .divider {
    margin: 0px;
}

.dropdown-menu {
    padding: 0px;
    margin-top: 10px;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    border-radius: 0px 0px 0px 0px;
}

.header_sr {
    position: fixed;
    width: 100%;
    z-index: 999999999999;
    background: #fff;
    top: 0;
}

.header_sr-shrink {
    margin-top: -0px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    background: #fff;
}

.header_sr-shrink .wrap {
    display: none
}

.navbar-collapse form[role="search"] input {
    height: auto;
    font-family: 'Century Gothic';
    font-size: 14px;
    padding: 2px 12px;
}

.navbar-form .input-group {
    vertical-align: middle;
}

.navbar-right .dropdown-menu {
    left: 0px;
    right: auto;
}

.btno1 li {
    float: left;
    padding: 0 34px 0 0px;
}

.mobile_img1 {
    position: absolute;
}

/*******top_medalsection*****/
#top_medalsection {
    background: url(../images/7ac627eb-2ed0-48cd-999b-aece3a896f39.png) no-repeat top center;
    background-size: cover;
    padding: 200px 0px 37px 0;
    background-attachment: fixed;
    display: table;
    height: 98%;
    position: relative;
    width: 100%;
}

/*.text-vcenter {display:table-cell;text-align:center;vertical-align:middle;}*/
.topvid_text {
    text-align: right;
    margin-top: 150px;
}

.top_btn {
    padding: 20px 0px;
    float: right;
}

/*.top_btn a{background:#33998e; border:1px solid #1ac0ae; padding:8px 20px; border-radius:5px; color:#FFF;font-family:'Raleway-Bold'; font-size:18px; text-decoration:none;}*/
.top_btn a {
    border: #da4b14;
    padding: 8px 28px;
    border-radius: 25px;
    color: #fff;
    font-family: prozolibre;
    font-size: 17px;
    text-decoration: none;
    width: 141px;
    background-color: #da4b14;
}

.social_btn .twiter {
    font-size: 17px;
    color: #fff;
    background: #55acee;
    padding: 4px 7px;
    border: 1px solid #55acee
}

.social_btn .twiter:hover {
    background: #fff;
    color: #55ACEE;
    border: 1px solid #55ACEE
}

.social_btn .face {
    font-size: 17px;
    color: #fff;
    background: #3B5998;
    padding: 4px 11px;
    border: 1px solid #3B5998
}

.social_btn .face:hover {
    background: #fff;
    color: #3B5998;
    border: 1px solid #3B5998
}

.social_btn .tube {
    font-size: 17px;
    color: #fff;
    background: #ED1C24;
    padding: 4px 7px;
    border: 1px solid #ED1C24
}

.social_btn .tube:hover {
    background: #fff;
    color: #ED1C24;
    border: 1px solid #ED1C24
}

.top_btn a:hover {
    background: #f1916d;
}

.top_btn .twiter {
    background: #55ACEE;
    color: #fff
}

.top_btn .twiter:hover {
    background: #fff;
    color: #55ACEE;
    border: 1px solid #55ACEE
}

.top_btn .face {
    background: #3B5998;
    color: #fff
}

.top_btn .face:hover {
    background: #fff;
    color: #3B5998;
    border: 1px solid #3B5998
}

.top_btn .tube {
    background: #ED1C24;
    color: #fff
}

.top_btn .tube:hover {
    background: #fff;
    color: #ED1C24;
    border: 1px solid #ED1C24
}

#footer_map {
}

.span3 .form-control {
    border-radius: 25px
}

/***************blog******************/
#main {
    background: none repeat scroll 0 0 #fff;
    padding: 90px 0 20px;
}

/*************************/
@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-collapse form[role="search"].active {
        width: 77%;
    }

    .widthe {
        width: 100%;
    }
}

.navbar-nav > li > a {
    padding: 4px 7px;
}

.navbar-nav > li > .nav-link {
    font-size: 12px;
    padding: 4px 12px;
}

.nav > li > a > img {
    max-width: 79%;
}

.navbar-collapse form[role="search"].active {
    width: 78%;
}

.list ul li {
    padding: 0px 5px 0px 0px;
}

@media (max-width: 767px) {
    .navbar-collapse {
        position: relative
    }

    .navbar-collapse form[role="search"] {
        right: 0px;
    }

    .navbar-nav > li > a {
        padding: 11px 0px;
    }

    .navbar-form .input-group {
        display: table;
    }

    .navbar-nav > li > .nav-link {
        text-align: center;
        margin-bottom: 10px;
    }

    .list ul li {
        padding: 0px 5px 0px 0px;
    }
}

@media (max-width: 627px) {
    .work_text h1 {
        font-size: 23px;
    }
}

@media (min-width: 481px) and (max-width: 626px) {

}

@media (max-width: 480px) {
    .top_btn a {
        font-size: 10px;
    }

    .heading h2 {
        font-size: 18px;
    }

    .designe_box ul li a {
        font-size: 14px;
    }

}

@media (max-width: 360px) {

}

@media (max-width: 320px) {

}

@media (min-width: 768px) {
    .navbar-nav > li > a {

    }
}

.btn.btn-circle {
    border-radius: 50px;
}

.btn.btn-outline {
    background-color: #da4b14;
}

.btn-default {
    color: #ffffff !important;
    border-color: #da4b14 !important;
}

/*Abdols Code*/
.popup-overlay {
    z-index: 999;
    position: absolute;
    background: #ffffff;

    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}

.popup-overlay.active {
    /*displays pop-up when "active" class is present*/
    visibility: visible;
    text-align: center;
}

.popup-content.active {
    /*Shows pop-up content when "active" class is present */
    visibility: visible;
}

/*
.gm-style-iw {
	width: 500px !important;
	height: 500px;
	top: 15px !important;
	left: 0px !important;
	background-color: #fff0;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid rgba(72, 181, 233, 0.6);
	border-radius: 2px 2px 10px 10px;
}*/

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    display: none;
}

.secondmenu input[type="radio"] {
    opacity: 0;
}

.paragraph {
    margin: 80px 0px 10px !important;
}

.infoWidow .first {
    width: 250px;
    height: auto;
    text-align: center;
}

@media (min-height: 460px) and (max-height: 560px) {
    #map {
        height: 81%;
    }
}

@media (min-height: 560px) and (max-height: 630px) {
    #map {
        height: 84%;
    }
}

@media (min-height: 630px) and (max-height: 700px) {
    #map {
        height: 86%;
    }
}

@media (min-height: 700px) and (max-height: 800px) {
    #map {
        height: 88%;
    }
}

@media (min-height: 800px) and (max-height: 900px) {
    #map {
        height: 89%;
    }
}