body {
    background-color: #F7F5E9;
    background-image: url("../images/TrailBackground.png");
}

#pageContent {
    margin-top: 2.5%;
	margin-bottom: 2.5%;
}
#events{
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

/* PHP Generated Content*/
.locationContainer {
    background-color: transparent;
    text-align: center;
    text-decoration: none;
}

.locationInfo, .eventInfo {
    font-family: prozolibre;
}

.locationDescription {
    font-size: large;
}

.locationName, .eventName {
    font-size: x-large;
    font-weight: bold;
}

.locationURL {
    font-size: large;
    text-decoration: none;
}

.locationDate {
}

h3, p, a {
    font-family: Proza Libre !important;
}

