body {
    background-color: #F7F5E9;
    background-image: url("../images/TrailBackground.png");
}
.locationName{
	text-align:center !important;
}
.modal-body{
	font-family: Proza Libre !important;
}
.modal-footer > .btn{
	background-color: #97583a !important;
	border-color: #97583a !important;
	color: #ffffff !important;
	font-family: Proza Libre !important;
}
h4{
	font-family: Proza Libre !important;
}
.modal-footer > .btn:hover{
	background-color: #6b7749 !important;
	border-color: #6b7749 !important;
}
.modal-footer > .btn:focus{
	outline-color: transparent !important;
}
.nav-tabs{
	border: none !important;
	text-align: center;
	background-color: #6b7749;
}
.nav-tabs > li > a{
	color: white;
}
.nav-tabs > li > a:hover{
	color: #000000;
	background-color: #f8f6ec !important;
	border-color: transparent !important;
}
.nav-tabs > li > a:focus{
	color: #000000;
	background-color: #f8f6ec !important;
	border-color: transparent !important;
	outline-color: transparent !important;
}
.nav-tabs > li{
	float: none !important;
	display: inline-block !important;
}
.nav-tabs>li.active>a{
	background-color: #f8f6ec !important;
	color: #000000;
}
#pageContent {
    margin-top: 2.5%;
	margin-bottom: 2.5%;
}
#events{
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

/* PHP Generated Content*/
.locationContainer {
    background-color: transparent;
    text-align: center;
    text-decoration: none;
}

.locationInfo, .eventInfo {
    font-family: Proza Libre;
}

.locationDescription, .eventLocationName, .eventStartTime, .eventDescription {
    font-size: large;
}

.locationName, .eventName {
    font-size: x-large;
    font-weight: bold;
}

.locationURL {
    font-size: large;
    text-decoration: none;
}
.btn.locationURL{
    background-color: #97583a !important;
    color: white !important;
}
.locationURL:hover {
    background-color: #6b7749 !important;
    color: white !important;
}
.locationDate {
    background-color: #97583a !important;
    color: white !important;
}

.eventBtns.btn{
    background-color: #97583a !important;
    color: white !important;
    margin: 1%;
}
.eventBtns:hover{
    background-color: #6b7749 !important;
    color: white !important;
}

h3, p, a {
    font-family: Proza Libre !important;
}

hr.style17 {
    border-top: 1px solid #8c8b8b;
    text-align: center;
}
hr.style17:after {
    content: 'ยง';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 18px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
}
